# Visual Studio 2022 cache/options directory
.vs/

# Visual Studio 2022 vcxproj.user
*.user

x64/
x86/

SLL/*.idb
SLL/*.pdb
BasicProgramming/KDT3_BasicProgramming/SLL/L16_SLL_d.idb
BasicProgramming/KDT3_BasicProgramming/SLL/L16_SLL_d.pdb
BasicProgramming/KDT3_BasicProgramming/SLL/L16_SLL_r.pdb
